@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");


@font-face {
  font-family: 'Helvetica Now Text';
  src: url('/fonts/HelveticaNowText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Alt Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: regular;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}
.menu-panel {
  position: absolute;
  top: 100px;
  right: -100%; /* Initially off-screen to the right */
  width: 225px; /* Adjust as needed */
  height: 21%;
  background: black;
  transition: right 0.3s ease-in-out;
  z-index: 30; /* Lower than navbar to slide under */
}

.menu-panel.open {
  right: 0; /* Slide in from the right */
}

.menu-panel a {
  display: block;
  padding: 16px;
  margin-left: 8px;
  color: white;
  text-decoration: none;
  /* Add more styling as needed */
}

nav {
  z-index: 20; /* Higher than the menu panel */
}

.menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* SemiBold */
  font-size: 14px;
  text-decoration: none;
}

.menu-item-button {
  font-family: 'Outfit', sans-serif;
  font-weight: 300; /* SemiBold */
  font-size: 14px;
  text-decoration: none;
  background-color: #007BFF;
}

.menu-item-button-sm {
  font-family: 'Outfit', sans-serif;
  font-weight: 500; /* SemiBold */
  font-size: 14px;
  text-decoration: none;
  background-color: #007BFF;
  white-space: nowrap; /* Keep the ticker text in one line */
}

.hero-container-xl {
  position: relative;
  padding: 20px;
  min-height: 0px;
  overflow: hidden; /* Adjust based on your image size */
  z-index: 20;
}

.hero-container-md {
  position: relative;
  padding: 20px;
  min-height: 0px;
  overflow: hidden; /* Adjust based on your image size */
  z-index: 20;
}

.hero-container-sm {
  position: relative;
  padding: 20px;
  min-height: 0px;
  overflow: hidden; /* Adjust based on your image size */
  z-index: 20;
}

.hero-header {
  /* display: flex; */
  font-family: 'Helvetica Now Text';
  font-weight: bold;
  font-size: 9.5rem;
  letter-spacing: -0.03em;
  color: #f4f4f4; /* Adjust color as needed */
  margin-bottom: 8px;
  max-width: 65%; /* Space between header and subtext */
}

.hero-header-md {
  /* display: flex; */
  font-family: 'Helvetica Now Text';
  font-weight: bold;
  font-size: 9rem;
  letter-spacing: -0.03em;
  color: #f4f4f4; /* Adjust color as needed */
  margin-bottom: 8px;
  max-width: 65%; /* Space between header and subtext */
}

.hero-header-sm {
  /* display: flex; */
  font-family: 'Helvetica Now Text';
  font-weight: bold;
  font-size: 4.5rem;
  letter-spacing: -0.03em;
  color: #f4f4f4; /* Adjust color as needed */
  margin-bottom: 8px;
  max-width: 65%; /* Space between header and subtext */
}

.hero-subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; /* Light */
  font-size: 18px;
  line-height: 32px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 55%; /* Adjust as needed */
}

.hero-subtext-md {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; /* Light */
  font-size: 18px;
  line-height: 32px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 55%; /* Adjust as needed */
}

.hero-subtext-sm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; /* Light */
  font-size: 18px;
  line-height: 32px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 80%; /* Adjust as needed */
}

.scroll-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  /* Adjust as needed */
}

.scroll-image-container-md {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  /* Adjust as needed */
}

.scroll-image-container-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  /* Adjust as needed */
}


.portrait-img {
  position: absolute;
  right: 12rem; /* Adjust as needed */
  top: 21.5rem;
  transform: translateY(-35%); /* Adjust vertically */
}

.portrait-img-md {
  position: absolute;
  right: 0rem; /* Adjust as needed */
  top: 21.5rem;
  transform: translateY(-35%); /* Adjust vertically */
}

.portrait-img-sm {
  position: absolute;
  right: -17rem; /* Adjust as needed */
  top: 21.5rem;
  transform: translateY(-35%); /* Adjust vertically */
}

.ticker-container {
  width: 100%;
  overflow: hidden; /* Hide the overflowed text */
  white-space: nowrap; /* Keep the ticker text in one line */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
   /* Align items to the start */
}

.ticker-container-sm {
  width: 100%;
  overflow: hidden; /* Hide the overflowed text */
  white-space: nowrap; /* Keep the ticker text in one line */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Align items to the start */
}

.ticker-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  animation: ticker 45s linear infinite;
  color: f4f4f4; /* Adjust color as needed */
}

.ticker-text-sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  animation: ticker 45s linear infinite;
  color: f4f4f4; /* Adjust color as needed */
}

/* Keyframes for the scrolling effect */
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ticker-sm {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.inline-block {
  width: 12px; /* Adjust the size as needed */
  margin: 2px 8px; /* Adjust the spacing around the image as needed */
}

.inline-block-sm {
  width: 8px; /* Adjust the size as needed */
  margin: 2px 8px; /* Adjust the spacing around the image as needed */
}

.ticker-item {
  margin-right: 2.5rem; /* Right margin for the text */
}

.ellipse {
  margin-right: 3rem; /* Left margin for the image */
}

.ticker-item-sm {
  margin-right: 1.5rem; /* Right margin for the text */
}

.ellipse-sm {
  margin-right: 2rem; /* Left margin for the image */
}

.video-style-xl {
  height: auto; /* Maintain aspect ratio */
  scale: 0.85;
  transform: translateY(-15%);
  position: absolute;
  z-index: -1;
  right: -28rem;
}

.video-style-md {
   /* Adjust to fit your layout */
  height: auto; /* Maintain aspect ratio */
  scale: 0.85;
  transform: translateY(-8%);
  position: absolute;
  z-index: -1;
  right: -35rem;
}

.video-style-sm {
   /* Adjust to fit your layout */
  height: auto; /* Maintain aspect ratio */
  scale: 0.50;
  transform: translateY(-60%);
  position: absolute;
  z-index: -1;
  right: -46rem;
}

.marker {
  height: 1px; /* Minimal height */
  width: 100%;
  position: relative; /* Adjust based on your layout */
}

.section-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 2px;
}

.section-header-md {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 2px;
}

.section-header-sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 2px;
}

.about-header {
  font-size: 60px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 65%; 
}

.about-header-md {
  font-size: 52px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 65%; 
}

.about-header-sm {
  font-size: 32px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 45%; 
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 18px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 60%; 
}

.about-text-md {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 16px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 55%; 
}

.about-text-sm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 14px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 52%; 
}

.about-text-sm-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 14px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 100%; 
}


.about-text-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 18px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 55%; 
}

.about-text-md-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 16px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 45%; 
}

.about-text-sm-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100; /* Light */
  font-size: 14px;
  line-height: 30px;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 100%; 
}

.stats-header {
  font-family: 'Proxima Nova';
  font-size: 60px;
  font-weight: regular;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 3px;
}

.stats-header-md {
  font-family: 'Proxima Nova';
  font-size: 52px;
  font-weight: regular;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 3px;
}

.stats-header-sm {
  font-family: 'Proxima Nova';
  font-size: 32px;
  font-weight: regular;
  color: #f4f4f4; /* Adjust color as needed */
  letter-spacing: 3px;
}

.stats-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: f4f4f4; /* Adjust color as needed */
}

.stats-text-md {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #f4f4f4; /* Adjust color as needed */
}

.stats-text-sm {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 300;
  color: #f4f4f4; /* Adjust color as needed */
}

.portfolio-header {
  font-size: 60px;
  font-weight: bold;
  color: #f4f4f4; /* Adjust color as needed */
  max-width: 65%; 
}

.projects-header {
  font-family: 'Helvetica Now Text';
  font-weight: bold;
}

.projects-image {
  scale: 1.7;
  
}





